openapi: 3.0.0
info:
  title: Obol Address Techne Credentials API
  description: "## What is this API?\n\nThis API is for creating and managing [Distributed Validators](https://docs.obol.tech/docs/int/key-concepts#distributed-validator). This API works in tandem with Obol's [Distributed Validator Launchpad](https://hoodi.launchpad.obol.org), a dapp designed to allow people to authenticate their counterparties and agree to the terms of a Distributed Validator Cluster. This API will be made more easy for code-only interaction in the coming quarters with the release of the Obol-SDK. \n\nRead more about Obol and how to use the [launchpad](https://hoodi.launchpad.obol.org) on our [docs site](https://docs.obol.tech/). \n\nFor enquiries:"
  version: v1.0.0-local
  contact:
    name: Obol Labs
    url: https://obol.tech
    email: support@obol.tech
servers:
- url: https://api.obol.tech
  description: Production environment
- url: http://localhost:3000
  description: Local development server
- url: https://localhost:3000
  description: HTTPS Local development server
tags:
- name: Techne Credentials
paths:
  /v1/techne/base/{index}:
    get:
      description: This endpoint is used to retrieve Base techne credential metadata
      operationId: TechneController_getBaseCred_v1
      parameters:
      - name: index
        required: true
        in: path
        description: The techne index.
        schema:
          type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechneResponse'
        '500':
          description: An unknown error occurred
      security:
      - bearer: []
      summary: Retrieve Base techne credential metadata
      tags:
      - Techne Credentials
  /v1/techne/bronze/{index}:
    get:
      description: This endpoint is used to retrieve Bronze techne credential metadata
      operationId: TechneController_getBronzeCred_v1
      parameters:
      - name: index
        required: true
        in: path
        description: The techne index.
        schema:
          type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechneResponse'
        '500':
          description: An unknown error occurred
      security:
      - bearer: []
      summary: Retrieve Bronze techne credential metadata
      tags:
      - Techne Credentials
  /v1/techne/silver/{index}:
    get:
      description: This endpoint is used to retrieve Silver techne credential metadata
      operationId: TechneController_getSilverCred_v1
      parameters:
      - name: index
        required: true
        in: path
        description: The techne index.
        schema:
          type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechneResponse'
        '500':
          description: An unknown error occurred
      security:
      - bearer: []
      summary: Retrieve Silver techne credential metadata
      tags:
      - Techne Credentials
  /v1/techne/gold/{index}:
    get:
      description: This endpoint is used to retrieve Gold techne credential metadata
      operationId: TechneController_getGoldCred_v1
      parameters:
      - name: index
        required: true
        in: path
        description: The techne index.
        schema:
          type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechneResponse'
        '500':
          description: An unknown error occurred
      security:
      - bearer: []
      summary: Retrieve Gold techne credential metadata
      tags:
      - Techne Credentials
components:
  schemas:
    TechneResponse:
      type: object
      properties:
        description:
          type: string
          example: Obol Techne Bronze Credential
        external_url:
          type: string
          example: https://blog.obol.tech/introducing-the-obol-techne-credential/
        image:
          type: string
          example: https://obol.tech/techne/bronze.png
        name:
          type: string
          example: Obol Techne - Bronze
      required:
      - description
      - external_url
      - image
      - name
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
