openapi: 3.0.0
info:
  title: Obol Address OWR Information API
  description: "## What is this API?\n\nThis API is for creating and managing [Distributed Validators](https://docs.obol.tech/docs/int/key-concepts#distributed-validator). This API works in tandem with Obol's [Distributed Validator Launchpad](https://hoodi.launchpad.obol.org), a dapp designed to allow people to authenticate their counterparties and agree to the terms of a Distributed Validator Cluster. This API will be made more easy for code-only interaction in the coming quarters with the release of the Obol-SDK. \n\nRead more about Obol and how to use the [launchpad](https://hoodi.launchpad.obol.org) on our [docs site](https://docs.obol.tech/). \n\nFor enquiries:"
  version: v1.0.0-local
  contact:
    name: Obol Labs
    url: https://obol.tech
    email: support@obol.tech
servers:
- url: https://api.obol.tech
  description: Production environment
- url: http://localhost:3000
  description: Local development server
- url: https://localhost:3000
  description: HTTPS Local development server
tags:
- name: OWR Information
paths:
  /v1/owr/{network}/{address}:
    get:
      description: This endpoint is used to retrieve information on the tranches of an OWR.
      operationId: OWRController_get_v1
      parameters:
      - name: network
        required: true
        in: path
        description: The network of the OWR.
        schema:
          type: string
      - name: address
        required: true
        in: path
        description: The address of the OWR.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OWRResponse'
        '500':
          description: An unknown error occurred
      security:
      - bearer: []
      summary: Retrieve OWR tranch information
      tags:
      - OWR Information
components:
  schemas:
    OWRResponse:
      type: object
      properties:
        reward_recipient:
          type: string
          example: '0xA'
        principal_recipient:
          type: string
          example: '0xA'
        threshold:
          type: string
          example: '32000000000000000000'
      required:
      - reward_recipient
      - principal_recipient
      - threshold
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
